<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/giohang.css">
    <link rel="stylesheet" href="../assets/css/base.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-free-6.3.0-web/css/all.min.css">
    <script src="../assets/js/angular.min.js"></script>
    <script src="../assets/js/globalAD.js"></script>
    <script src="../assets/js/hoadonnhap.js"></script>
</head>
<body>
    <section style="width: 1000px; font-size: 16px; border: 1px solid #000; margin-bottom: 26px;" id="invoiceDetails" ng-app="AppAdmin" ng-controller="HDNController">
        <div class="row">
            <div class="c-7 content">
                <div class="tabcontent">
                    <div class="title">
                        <div class="title_wrap" style="display: flex; justify-content: space-between; margin-bottom: 6px;">
                            <i class="fas fa-file-import"></i>Chi tiết hóa đơn
                            <i class="fa-solid fa-xmark" onclick="toggleInvoiceDetails()" style="font-size: 26px;"></i>
                        </div>
                        <hr>
                    </div>
                    <div class="product__wrapper">
                        <div class="row grid wide" style="margin-top: 10px;">
                            <div class="col c-12" ng-repeat="ct in cthdn" style="padding: 0; margin-top: 12px; display: flex;">
                                <div class="col c-2 product__img" >
                                    <a href="" class="product__img-link">
                                        <img ng-src=".{{ct.anhDaiDien}}" alt="" class="img">
                                    </a>
                                </div>
                                <div class="col c-10 product__thongtin">
                                    <div class="name-cart">
                                        <span>{{ct.tenSanPham}}</span>
                                    </div>
    
                                    <div><span>Mã sản phẩm : <b>{{ct.maSanPham}}</b></span></div>
    
                                    <div class="price__wrapper">
                                      <div class="row grid wide price__chitiet">
                                        <div class="col c-5">
                                            <div class="number__left">Số lượng:</div>
                                            <div class="number">
                                                <div class="bt_quantity_update quantity_down" ng-click="decrementQuantity(ct)">-</div>
                          
                                                <div class="product-quantity">
                                                  <input type="text" id="soluong" class="qty" ng-model="ct.soLuong" style="text-align: center;">
                                                </div>
                          
                                                <div class="bt_quantity_update quantity_up" ng-click="incrementQuantity(ct)">+</div>
                                            </div>
                                        </div>
                                        <div class="col c-7" style="display: flex; align-items: center;">
                                          <div class="price" style="margin-right: 16px;">
                                                <div>
                                                    Giá nhập: <span>{{ct.giaNhap}}<sup>đ</sup></span>
                                                </div>
                                                <div>
                                                    Tổng giá:<span>{{ct.tongTien}}<sup>đ</sup></span>
                                                </div>
                                          </div>
                                          <a href="" class="delete" ng-click="confirmDelete(ct)">
                                            <i class="fa-solid fa-trash" ></i>
                                          </a>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>         
                        </div>
                    </div>
                    <button class="deleteProductAll" ng-click="clearCart()">Xóa hết sản phẩm khỏi hóa đơn nhập</button>
                    
                </div>
            </div>
        </div>
        <script>
            function toggleInvoiceDetails() {
                var invoiceDetails = document.getElementById('invoiceDetails');
                invoiceDetails.style.display = (invoiceDetails.style.display === 'none' || invoiceDetails.style.display === '') ? 'block' : 'none';
            }
        </script>
    </section>
</body>
</html>
