<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/logoCPT.png">
    <link rel="stylesheet" href="../assets/css/giohang.css">
    <link rel="stylesheet" href="../assets/css/style_mainQT.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-free-6.3.0-web/css/all.min.css">
    <script src="../assets/js/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/angular.min.js"></script>
    <script src="./js/click.js"></script>
    <script src="./js/globalAD.js"></script>
    <script src="./js/hoadonnhap.js"></script>
    <title>Quản lý cửa hàng bán đèn trang trí</title>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>

<body ng-app="AppAdmin"  ng-controller="HDNController">
    <section class="header">
        <a href="javascript:void(0);" class="icon" onclick="openBTN()">
            <i class="fas fa-bars"></i>
        </a>
        <div class="box-login" id="box-t">
            Xin chào, <span id="ten_nv">Admin</span> <i class="fas fa-sort-down"></i>
            <div class="box-login-bottom" id="box-b">
                <button onclick="TTTaiKhoan()"><i class="fas fa-user-alt"></i> Tài khoản</button>
                <button onclick="LogOut();"><i class="fas fa-sign-out-alt"></i> Đăng xuất</button>
            </div>
        </div>
    </section>
    <section class="main">
        <div class="row">
            <div class="col-1 col-s-12 category">
                <button onclick="TongQuan()"><i class="fas fa-tachometer-alt"></i> Tổng quan</button>
                <button onclick="LoaiSanPham()"><i class="fas fa-boxes"></i> Loại sản phẩm</button>
                <button onclick="SanPham()"><i class="fas fa-barcode"></i> Sản phẩm</button>
                <button onclick="NhaCungCap()"><i class="fas fa-truck"></i> Nhà cung cấp</button>
                <button onclick="KhachHang()"><i class="fas fa-users"></i> Khách hàng</button>
                <button class="active" onclick="HoaDonNhap()"><i class="fas fa-file-import"></i> Hóa đơn nhập</button>
                <button onclick="HoaDonBan()"><i class="fas fa-shopping-cart"></i> Hóa đơn bán</button>
                <button onclick="TinTuc()"><i class="fas fa-newspaper"></i> Tin tức</button>
                <button onclick="TaiKhoan()"><i class="fas fa-user"></i> Tài khoản</button>
                <button onclick="ThongKe()"><i class="fas fa-cogs"></i> Thống kê</button>

                <!-- <button onclick="ThietLap()"><i class="fas fa-cogs"></i> Thiết lập</button> -->
            </div>
            <div class="col-11 col-s-12 content">
                <div class="col-5 col-s-12 content">
                    <div class="tabcontent">
                        <div class="title">
                            <i class="fas fa-file-import"></i> Nhập thông tin hóa đơn nhập
                            <hr>
                        </div>
                        <div class="row">
                            <form>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Mã hóa đơn nhập:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input type="text" id="MaHDN"
                                        disabled value="Mã hóa đơn nhập tự động sinh!" style="background-color: #cecaca;">
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Nhân viên:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <select name="nhanvien" id="TenNhanVien" ng-model="nhanVien">
                                        <option value="">--Chọn nhân viên--</option>
                                        <option ng-repeat="nv in listCTTK" value="{{nv.maTaiKhoan}}">{{nv.maTaiKhoan}} - {{nv.hoTen}}</option>
                                    </select>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Nhà cung cấp:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <select name="npp" id="TenNPP" ng-model="nhaPhanPhoi">
                                        <option value="">--Chọn nhà cung cấp--</option>
                                        <option ng-repeat="npp in listNPP" value="{{npp.maNhaPhanPhoi}}">{{npp.maNhaPhanPhoi}} - {{npp.tenNhaPhanPhoi}}</option>
                                    </select>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Kiểu thanh toán:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input type="text" id="KieuThanhToan" placeholder="Nhập kiểu thanh toán..." ng-model="kieuThanhToan">
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Đơn vị tính:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input type="text" id="donViTinh" placeholder="Nhập đơn vị tính..." ng-model="donViTinh">
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <label for="txtright">Tổng tiền:</label>
                                </div>
                                <div class="col-12 col-s-12 padding-box">
                                    <input type="text" id="TongTien"
                                        disabled value="Tổng tiền tự động tính!" style="background-color: #cecaca;">
                                </div>
                                
                                
                            </form>
                        </div>
                        <button class="btn-form" style="background-color: rgba(44, 140, 15, 0.8);"
                        ng-click="addHoaDonNhapCSDL()">Thêm hóa đơn nhập</button>
                        <button class="btn-form" style="background-color: rgba(227, 32, 21, 0.8);"
                            onclick="NhapMoi()">Nhập mới</button>
                    </div>
                </div>
                <div class="col-7 col-s-12 content">
                    <div class="tabcontent">
                        <div class="title">
                            <i class="fas fa-file-import"></i> Thông tin sản phẩm
                            <hr>
                        </div>
                        <div class="product__wrapper">
                            <div class="row grid wide" style="margin-top: 10px;">
                                <div class="col c-12" ng-repeat="item in cartItems" style="padding: 0; margin-top: 12px; display: flex;">
                                    <div class="col c-2 product__img" >
                                        <a href="" class="product__img-link">
                                            <img ng-src=".{{item.anhDaiDien}}" alt="" class="img">
                                        </a>
                                    </div>
                                    <div class="col c-10 product__thongtin">
                                        <div class="name-cart">
                                            <span>{{item.tenSanPham}}</span>
                                        </div>
    
                                        <div><span>Mã sản phẩm : <b>{{item.maSanPham}}</b></span></div>
    
                                        <div class="price__wrapper">
                                          <div class="row grid wide price__chitiet">
                                            <div class="col c-5">
                                                <div class="number__left">Số lượng:</div>
                                                <div class="number">
                                                    <div class="bt_quantity_update quantity_down" ng-click="decrementQuantity(item)">-</div>
                              
                                                    <div class="product-quantity">
                                                      <input type="text" id="soluong" class="qty" ng-model="item.soLuong" style="text-align: center;">
                                                    </div>
                              
                                                    <div class="bt_quantity_update quantity_up" ng-click="incrementQuantity(item)">+</div>
                                                </div>
                                            </div>
                                            <div class="col c-7" style="display: flex; align-items: center;">
                                              <div class="price" style="margin-right: 16px;">
                                                    <div>
                                                        Giá nhập: <span>{{giaNhap(item)}}<sup>đ</sup></span>
                                                    </div>
                                                    <div>
                                                        Tổng giá:<span> {{calculateTotalPriceForItem(item)}}<sup>đ</sup></span>
                                                    </div>
                                              </div>
                                              <a href="" class="delete" ng-click="confirmDelete(item)">
                                                <i class="fa-solid fa-trash" ></i>
                                              </a>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="deleteProductAll" ng-click="clearCart()">Xóa hết sản phẩm khỏi hóa đơn nhập</button>
                        <a href="./SanPham.html" class="muasanphamkhac">
                            Chọn thêm sản phẩm khác
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-12 col-s-12 content">
                <div class="tabcontent">
                    <div class="title">
                        <i class="fas fa-shopping-cart"></i> Danh sách hóa đơn nhập
                        <button onclick="XoaChon()" style="margin-right: 3px;"><i class="far fa-trash-alt"></i> Xóa
                            chọn</button>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-10 col-s-12 padding-box">
                            <input type="text" id="search-export" placeholder="Nhập mã hóa đơn bán...">
                        </div>
                        <div class="col-2 col-s-12 padding-box">
                            <button><i class="fas fas fa-search"></i> Tìm kiếm</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-s-12 padding-box">
                            <table class="myTable">
                                <thead>
                                    <tr>
                                        <th style="padding-top: 10px;"><input type="checkbox" ng-click="CheckAll()" ng-model="selectAll"></th>
                                        <th>Mã hóa đơn nhập</th>
                                        <th>Nhân viên</th>
                                        <th>Nhà phân phối</th>
                                        <th>Kiểu thanh toán</th>
                                        <th>Tổng tiền</th>
                                        <!-- <th>List chi tiết hóa đơn</th> -->
                                    </tr>
                                </thead>
                                <tbody> 
                                    <tr ng-repeat="hdn in listHDN">
                                        <td><input type="checkbox" ng-model="hdn.selected"></td>
                                        <td>{{hdn.maHoaDonNhap}}</td>
                                        <td>{{hdn.hoTen}}</td>
                                        <td>{{hdn.tenNhaPhanPhoi}}</td>
                                        <td>{{hdn.kieuThanhToan}}</td>
                                        <td>{{hdn.tongTien}}</td>
                                        <!-- <td>{{hdn.list_json_chitiethdn}}</td> -->
                                        <!-- <td>
                                            <div ng-if="hdn.showAllDetails">
                                                {{hdn.list_json_chitiethdn}}
                                            </div>
                                            <div ng-if="!hdn.showAllDetails">
                                                <div ng-repeat="chitiet in hdn.list_json_chitiethdn | limitTo:1">
                                                    {{chitiet}}
                                                </div>
                                                <span style="text-decoration: underline; cursor: pointer;" ng-click="toggleDetails(hdn)">Xem thêm</span>
                                            </div>
                                        </td> -->
                                        <td style="text-align: center;">
                                            <i class="fas fa-edit" title="Sửa" ng-click="editHoaDonNhap(hdn)"></i>
                                            <i class="fas fa-trash-alt" title="Xóa" data-mahdn="{{hdn.maHoaDonNhap}}"></i>
                                            <a href="?id={{hdn.maHoaDonNhap}}" class="detail" id="myLink" ng-click="toggleInvoiceDetails()" data-mahdn="{{hdn.maHoaDonNhap}}" style="cursor: pointer;">Xem chi tiết hóa đơn {{hdn.maHoaDonNhap}}</a>
                                            <a href="./InHoaDonNhap.html?id={{hdn.maHoaDonNhap}}" style="padding-left: 4px; border-left: 1px solid #6b6868;" class="detail" ng-click="print()">In hóa đơn</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12 col-s-12 padding-box">
                            <div class="box-sum" style="display: flex;">
                                <div class="box-right">
                                    <button><i class="fas fa-angle-left"></i></button>
                                    <button ng-click="changePage(1)">1</button>
                                    <button ng-click="changePage(2)">2</button>
                                    <button ng-click="changePage(3)">3</button>
                                    <button ng-click="changePage(4)">4</button>
                                    <button ng-click="changePage(5)">5</button>
                                    <button ng-click="changePage(6)">6</button>
                                    <button ng-click="changePage(7)">7</button>
                                    <button ng-click="changePage(8)">8</button>
                                    <button ng-click="changePage(9)">9</button>
                                    <button ng-click="changePage(10)">10</button>
                                    <button><i class="fas fa-angle-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="" style="width: 1000px; font-size: 16px; border: 1px solid #000; margin-bottom: 26px;" id="invoiceDetails">
        <div class="row">
            <div class="c-7 content">
                <div class="tabcontent">
                    <div class="title">
                        <div class="title_wrap" style="display: flex; justify-content: space-between; margin-bottom: 6px;">
                            <i class="fas fa-file-import"></i>Chi tiết hóa đơn nhập
                            <i class="fa-solid fa-xmark" ng-click="toggleInvoiceDetails()" style="font-size: 26px;"></i>
                        </div>
                        <hr>
                    </div>
                    <div class="product__wrapper">
                        <div class="macthdn"></div>
                        <div class="row grid wide" style="margin-top: 10px;">
                            <div class="col c-12" ng-repeat="ct in cthdn" style="margin-top: 12px; display: flex;">
                                <div class="col c-2 product__img" >
                                    <a href="" class="product__img-link">
                                        <img ng-src=".{{ct.anhDaiDien}}" alt="" class="img">
                                    </a>
                                </div>
                                <div class="col c-10 product__thongtin">
                                    <div class="name-cart">
                                        <span>{{ct.tenSanPham}}</span>
                                    </div>
    
                                    <div><span>Mã sản phẩm : <b>{{ct.maSanPham}}</b></span></div>
    
                                    <div class="price__wrapper">
                                      <div class="row grid wide price__chitiet">
                                        <div class="col c-5">
                                            <div class="number__left">Số lượng:</div>
                                            <div class="number">
                                                <div class="product-quantity">
                                                  <input type="text" id="soluong" class="qty" ng-model="ct.soLuong" style="text-align: center;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col c-7" style="display: flex; align-items: center;">
                                          <div class="price" style="margin-right: 16px;">
                                                <div>
                                                    Giá nhập: <span>{{ct.giaNhap}}<sup>đ</sup></span>
                                                </div>
                                                <div>
                                                    Tổng giá:<span>{{ct.tongTien}}<sup>đ</sup></span>
                                                </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <div id="dynamic-content" style="display: flex; justify-content: center; align-items: center;" class="hidden"></div> -->
    <!-- <iframe id="myIframe" src="" width="1000px" height="1000px" frameborder="0"></iframe> -->
</body>

</html>