<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/logoCPT.png">
    <link rel="stylesheet" href="../assets/css/style_mainQT.css">
    <link rel="stylesheet" href="../assets/css/admin.css">
    <link rel="stylesheet" href="../assets/css/core.css">
    <link rel="stylesheet" href="../assets/css/giohang.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-free-6.3.0-web/css/all.min.css">
    <script src="../assets/js/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/angular.min.js"></script>
    <script src="./js/click.js"></script>
    <script src="./js/globalAD.js"></script>
    <script src="./js/tongquan.js"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> 
    <script src="./js/bieudo.js"></script>
    <script src="./js/admin.js"></script>
    <title>Quản lý cửa hàng bán đèn trang trí</title>
</head>

<body ng-app="AppAdmin"  ng-controller="TongQuanCtrl">
    <section class="header" style="background-color: #ffbe00;" >
        <a href="javascript:void(0);" class="icon" onclick="openBTN()">
            <i class="fas fa-bars"></i>
        </a>
        <div class="box-login" id="box-t">
            Xin chào, <span id="ten_nv">Admin {{tk.tenTaiKhoan}}</span> <i class="fas fa-sort-down"></i>
            <div class="box-login-bottom" id="box-b">
                <button onclick="TTTaiKhoan()"><i class="fas fa-user-alt"></i> Tài khoản</button>
                <button onclick="LogOut();"><i class="fas fa-sign-out-alt"></i> Đăng xuất</button>
            </div>
        </div>
    </section>
    <section class="main">
        <div class="row all">
            <div class="col-1 col-s-12 category">
                <button class="active" onclick="TongQuan()"><i class="fas fa-tachometer-alt"></i> Tổng quan</button>
                <button onclick="LoaiSanPham()"><i class="fas fa-boxes"></i> Loại sản phẩm</button>
                <button onclick="SanPham()"><i class="fas fa-barcode"></i> Sản phẩm</button>
                <button onclick="NhaCungCap()"><i class="fas fa-truck"></i> Nhà cung cấp</button>
                <button onclick="KhachHang()"><i class="fas fa-users"></i> Khách hàng</button>
                <button onclick="HoaDonNhap()"><i class="fas fa-file-import"></i> Hóa đơn nhập</button>
                <button onclick="HoaDonBan()"><i class="fas fa-shopping-cart"></i> Hóa đơn bán</button>
                <button onclick="TinTuc()"><i class="fas fa-newspaper"></i> Tin tức</button>
                <button onclick="TaiKhoan()"><i class="fas fa-user"></i> Tài khoản</button>
                <button onclick="ThongKe()"><i class="fa-solid fa-chart-column"></i> Thống kê</button>
            </div>
            <div class="col-11 col-s-12 col-m-12 Details">
                <div class="col-12 col-s-12 col-m-12 overview Page">
                    <div class="col-12 col-s-12 col-m-12 overview1">
                        <span class="col-12 col-s-12 col-m-12">KẾT QUẢ KINH DOANH TRONG NGÀY</span>
                        <div class="tabcontent">
                            <div class="row">
                                <div class="col-4 col-s-12 padding-box">
                                    <div class="box" style="background-color: #9abc32;">
                                        <div class="box-left"><i class="fas fa-signal"></i></div>
                                        <div class="box-right">Doanh thu trong ngày:</div>
                                        <span>{{ listTKe_date.doanhThu | number }}</span>đ
                                    </div>
                                </div>
                                <div class="col-4 col-s-12 padding-box">
                                    <div class="box" style="background-color: #6FB3E0;">
                                        <div class="box-left"><i class="fas fa-cloud"></i></div>
                                        <div class="box-right">
                                            Số đơn hàng bán: <span>{{ listTKe_date.soDonHangBan }}</span>
                                        </div>
                                        <div class="box-right">
                                            Số sản phẩm đã bán: <span>{{ listTKe_date.soSanPhamBan }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 col-s-12 padding-box">
                                    <div class="box" style="background-color: #D53F;">
                                        <div class="box-left"><i class="fas fa-undo-alt"></i></div>
                                        <div class="box-right">Số đơn hàng nhập: <span>{{ listTKe_date.soDonHangNhap }}</span></div>
                                        <div class="box-right">Số sản phẩm mới nhập: <span>{{ listTKe_date.soSanPhamNhap }}</span></div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                        <div class="chooseover">
                            <label for="txt_over">Tổng quan về thống kê </label>
                            <select onchange="Thongke()" id="txt_over" style="outline: none">
                                <option value="tuan">Theo tuần</option>
                                <option value="thang">Theo tháng</option>
                                <option value="nam">Theo năm</option>
                              
                            </select>
                        </div>
                        <div class="col-12 col-s-12 col-m-12 sales">
                            <div id="chartContainerTuan" style="height:400px;width: 60%; margin: auto;" > </div>
                        </div>
                        <div class="col-12 col-s-12 col-m-12 sales_week">
                            <div class="money_week week1">
                                <i class="fa-solid fa-sack-dollar"></i>
                                <span>Doanh thu tuần này<br><span>{{ listTKe_week.doanhThu | number }}đ</span></span>
                            </div>
                            <div class="product_week week1">
                                <i class="fa-solid fa-file-lines"></i>
                                <span>Đơn hàng bán: <span>{{ listTKe_week.soDonHangBan }}</span><br>
                                <span>Sản phẩm bán: <span>{{ listTKe_week.soSanPhamBan }}</span><br>
                            </div>
                            <div class="return_week week1">
                                <i class="fa-solid fa-arrow-rotate-left"></i>
                                <span>Số đơn hàng nhập: <span>{{ listTKe_week.soDonHangNhap }}</span><br>
                                <span>Số sản phẩm mới nhập: <span>{{ listTKe_week.soSanPhamNhap }}</span><br>
                            </div>
                        </div>
                        <div class="col-12 col-s-12 col-m-12 sales">
                            <div id="chartContainerthang" style="height:400px;width: 100%" > </div>
                        </div>
                        <div class="col-12 col-s-12 col-m-12 sales_week">
                            <div class="money_week week1">
                                <i class="fa-solid fa-sack-dollar"></i>
                                <span>Doanh thu tháng này<br><span>{{ listTKe_month.doanhThu | number }}đ</span></span>
                            </div>
                            <div class="product_week week1">
                                <i class="fa-solid fa-file-lines"></i>
                                <span>Đơn hàng bán: <span>{{ listTKe_month.soDonHangBan }}</span><br>
                                <span>Sản phẩm bán: <span>{{ listTKe_month.soSanPhamBan }}</span><br>
                            </div>
                            <div class="return_week week1">
                                <i class="fa-solid fa-arrow-rotate-left"></i>
                                <span>Số đơn hàng nhập: <span>{{ listTKe_month.soDonHangNhap }}</span><br>
                                <span>Số sản phẩm mới nhập: <span>{{ listTKe_month.soSanPhamNhap }}</span><br>
                            </div>
                        </div>
                        <div class="col-12 col-s-12 col-m-12 sales">
                            <div id="chartContainer" style="height:400px;width: 100%" > </div>
                        </div>
                        <div class="col-12 col-s-12 col-m-12 sales_week">
                            <div class="money_week week1">
                                <i class="fa-solid fa-sack-dollar"></i>
                                <span>Doanh thu năm này<br><span>{{ listTKe_year.doanhThu | number }}đ</span></span>
                            </div>
                            <div class="product_week week1">
                                <i class="fa-solid fa-file-lines"></i>
                                <span>Đơn hàng bán: <span>{{ listTKe_year.soDonHangBan }}</span><br>
                                <span>Sản phẩm bán: <span>{{ listTKe_year.soSanPhamBan }}</span><br>
                            </div>
                            <div class="return_week week1">
                                <i class="fa-solid fa-arrow-rotate-left"></i>
                                <span>Số đơn hàng nhập: <span>{{ listTKe_year.soDonHangNhap }}</span><br>
                                <span>Số sản phẩm mới nhập: <span>{{ listTKe_year.soSanPhamNhap }}</span><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-s-12 padding-box">
                                <div class="box2" style="border: 1px solid #E8B110;">
                                    <div class="box2-top" style="border-bottom: 1px solid #E8B110;">
                                        <i class="fas fa-boxes"></i> Sản phẩm bán chạy nhất
                                    </div>
                                    <div class="box2-bot row">
                                        <div class="col c-12" ng-repeat="bcn in banchaynhat" style="padding: 0; margin-top: 12px; display: flex;">
                                            <div class="col c-2 product__img" >
                                                <a href="" class="product__img-link">
                                                    <img ng-src=".{{bcn.anhDaiDien}}" alt="" class="img">
                                                </a>
                                            </div>
                                            
                                            <div class="col c-10 product__thongtin">
                                                <div class="name-cart">
                                                    <span>{{bcn.tenSanPham}}</span>
                                                </div>
            
                                                <div><span>Mã sản phẩm : <b>{{bcn.maSanPham}}</b></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-s-12 padding-box">
                                <div class="box2" style="border: 1px solid #E8B110;">
                                    <div class="box2-top" style="border-bottom: 1px solid #E8B110;">
                                        <i class="fas fa-boxes"></i> Sản phẩm mới nhất
                                    </div>
                                    <div class="box2-bot row">
                                        <div class="col c-12" ng-repeat="item in sanphammoinhat" style="padding: 0; margin-top: 12px; display: flex;">
                                            <div class="col c-2 product__img" >
                                                <a href="" class="product__img-link">
                                                    <img ng-src=".{{item.anhDaiDien}}" alt="" class="img">
                                                </a>
                                            </div>
                                            
                                            <div class="col c-10 product__thongtin">
                                                <div class="name-cart">
                                                    <span>{{item.tenSanPham}}</span>
                                                </div>
            
                                                <div><span>Mã sản phẩm : <b>{{item.maSanPham}}</b></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>